<div class="col-lg-12">
  <%= flash[:notice] %>
  <div class="card rounded-0 mt-5 mb-5">
    <div class="card-body">
      <h2 class="text-center">Listing Profiles</h2>
    </div>
  </div>
  <%= link_to "Add New Profile", new_profile_path, class: "btn btn-primary btn-lg mb-4 rounded-0" %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Timezone</th>
          <th>Resume</th>
          <th>Created By</th>
        </tr>
      </thead>
      <tbody>
        <% @profiles.each do |profile| %>
        <tr>
          <td><%= profile.name %> </td>
          <td><%= profile.email%></td>
          <td><%= profile.address%></td>
          <td><%= profile.timezone%></td>
          <td><%= profile.resume%></td>
          <td><%= profile.created_by.name%></td>

          <td>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Actions
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to "Edit", edit_profile_path(profile), class: "dropdown-item" %></li>
                <li><%= link_to "Delete", profile_path(profile), class: "dropdown-item", method: :delete, data: { confirm: 'Are you sure'}, remote: true %></li>
              </ul>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>